.header {
    position: absolute;
    height: 12.5rem;
    left: 0px;
    right: 0px;
    top: 0px;

    /* Gray 700 */

    background: #0D0D0D;
}

.header img {
    position: absolute;
    min-width: 26rem;
    height: 3.5rem;
    left: 657px;
    top: 72px;
}